streamlit==1.55.0

# ========= LangChain =========
langchain==1.2.10
langchain-core==1.2.17
langchain-openai==1.1.10
langchain-community==0.4.1
langchain-text-splitters==1.1.1
langchain-classic==1.0.1
langchain-pinecone==0.2.13

# ========= OpenAI =========
openai==2.24.0
tiktoken==0.12.0

# ========= Vector Database =========
pinecone==7.3.0

# ========= PDF Loader =========
PyMuPDF==1.27.1

# ========= Env =========
python-dotenv==1.2.2